@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Lobster&family=Montserrat:wght@300;800&display=swap&family=Mulish:wght@900&display=swap');

#app .lobster {
  font-family: Lobster, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#app .montserrat {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
